<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SipacCorreo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
      <add key="ConectaBD" value="Data Source=PC-MARCSL\SQLEXPRESS;Initial Catalog=cxpcxc;User ID=sa;Password=Sqladministrador16"/>
      <!--<add key="ConectaBD" value="Data Source=172.16.1.36;Initial Catalog=cxpcxc;User ID=sa;Password=D3s4rr0ll0"/>-->
    </appSettings>
    <applicationSettings>
        <SipacCorreo.Properties.Settings>
            <setting name="correoServidor" serializeAs="String">
                <value>srvexch01.asaec.corp</value>
            </setting>
            <setting name="correoPuerto" serializeAs="String">
                <value>25_1</value>
            </setting>
            <setting name="correoUsuario" serializeAs="String">
                <value>sipac@asae.com.mx.rmf</value>
            </setting>
            <setting name="correoClave" serializeAs="String">
                <value>Cntrl2016_</value>
            </setting>
            <setting name="correoNombre" serializeAs="String">
                <value>ASAEC\sipac\rmf</value>
            </setting>
            <setting name="horario" serializeAs="String">
                <value>9,19</value>
            </setting>
            <setting name="Dias" serializeAs="String">
                <value>1,2,3,4,5</value>
            </setting>
            <setting name="errLog" serializeAs="String">
                <value>C:\Proyectos\asae\cxpcxc\Aplicacion\SipacCorreo\errlog.txt</value>
            </setting>
        </SipacCorreo.Properties.Settings>
    </applicationSettings>
</configuration>